@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background1: #000c27;
  --background2: #333d52;
  --link: #6a03b8;
  --primary: #8033ba;
  --secondary: #00d170;
  --textBase: #f2f2f2;
}



body {
  color: var(--textBase);
  background: var(--background);
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

section {
  height: auto; 
  /* background: url("/path/to/your/banner.jpg") no-repeat center center; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333; /* Cor do texto */

  padding: 1rem 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
