@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background1: #000c27;
  --background2: #333d52;
  --link: #8033ba;
  --primary: #8033ba;
  --secondary: #00d170;
  --textBase: #f2f2f2;
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #000c27 30%, #012e58 100%);
}

body {
  color: var(--textBase);




  min-height: 100vh;

 
  font-family: Nunito, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
overflow-x: hidden;

}


section {
  height: auto; 
  /* background: url("/path/to/your/banner.jpg") no-repeat center center; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  overflow: hidden;
  color: var( --textBase); /* Cor do texto */

  padding: 1rem 1rem;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
